<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOX Framework</title>
</head>
<body>
    <h1><%= message %></h1>
</body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>NOX</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <style>
      body {
        background-color: #f2f2f2;
        font-family: sans-serif;
        text-align: center;
      }
      h1 {
        color: #333;
        font-size: 36px;
        margin-top: 50px;
        animation: text-fade-in 2s ease-in-out;
      }
      @keyframes text-fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .container {
        background-color: #fff;
        border: 1px solid #333;
        height: 200px;
        width: 400px;
        margin: 50px auto;
        padding: 20px;
        animation: box-fade-in 2s ease-in-out;
      }
      @keyframes box-fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      table td{
        text-align: left;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>NOX framework v<%= version %></h1>
    <div class="container">
      <p>
        <%= message %> <br> Simple and powerful framework build on the top of Nodejs.
        Express is the base framework.
      </p>
      <div>
        <table>
          <tr>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-git"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"
                />
              </svg>
            </td>
            <td><%= version %></td>
          </tr>
          <tr>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
            </td>
            <td>
              <a href="https://github.com/sixbeeshades/nox_framework"
                >Source Code</a
              >
            </td>
          </tr>
          <tr>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-linkedin"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                />
              </svg>
            </td>
            <td>
              <a
                href="https://www.linkedin.com/in/abhijith-p-subash-the-engineer/"
              >
                Abhijith P Subash</a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
